\documentclass[a4paper,12pt]{article}
\usepackage[T2A]{fontenc}
\usepackage[utf8]{inputenc} % любая желаемая кодировка
\usepackage[english,russian]{babel}
%% \usepackage[landscape]{geometry}
\usepackage{longtable}

\begin{document}

\texttt{ ${OUTPUT} } 

\begin{center}
    \begin{longtable}{ ll }
    ${header.busn} & ${header.driver} \\ 
    #foreach (row in rows)
    ${row.busn} & ${row.driver} \\ 
    #end
    \end{longtable}
\end{center}


\end{document}


