Here is the message: ${message}
Report column: ${header.busn}
Report column: ${header.driver}

#foreach (row in rows)
${row.obj.busn} : ${row.obj.year}  : ${row.obj.driver} : ${row.obj.speeding} : ${row.obj.mileage}
#end

${SQL}
